h1 {
	font-style: italic;
	font-weight: bold;
	text-decoration: underline;
	text-align: center;
	border: solid 1px #20DF5A;
}

p {
	text-align: center;
	font-weight: bold;
}

body {
	margin: 0px 50px;
}